<div class="row">
  <div class="col-xs-10">
    <h4 class="">Messages</h4>
    <div>
      <div ng-repeat="msg in messages">
        <blockquote>
          <p class="lead">{{msg.text}}</p>
          <footer class="pull-right">
            {{msg.datestamp | date:'HH:mm:ss dd/MM/yyyy'}} 
            <span class="badge"> {{msg.author}} </span>
          </footer>
        </blockquot>  
      </div>
      <div>
        <blockquote>
          <div class="input-group">
          <input type="text" class="form-control" ng-model="newMessage">
          <a class="input-group-addon btn btn-sm btn-success" ng-click="addMessage(newMessage)"><span class="glyphicon glyphicon-plus"></span></a>
          </div>
        </blockquot>  
      </div>  
    </div>
  </div>
  <div class="col-xs-2">
    <h4 class="">Users</h4>
    <div>
      <div ng-repeat="user in users">
        <a href="#" >
          <img  >
          <h4 class="list-group-item-heading">{{user.username}}</h4>
        </a>
      </div>
    </div>  
  </div>  
</div>

